.movie-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #404c45;
    min-height: 100vh;
}

/* Reuse the container and movie card styles from Home.css */
/* .container {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */