
.icon-container {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    display: flex;
    justify-content: right;
    opacity: 1;
}

.watch-icon-container,
.heart-icon-container {
    cursor: pointer;
    display: flex;
    justify-content: right;
}

.queue-icon-container {
    margin-left: 10px;
    opacity: 1;
    cursor: pointer;
}

.watch-icon-container {
    margin-left: 10px;
    opacity: 1;
}

.heart-icon-container {
    margin-left: 10px;
    opacity: 1;
}

.home-icon-container {
    cursor: pointer;
}

.home-icon,
.queue-icon,
.watch-icon,
.heart-icon {
    font-size: 1.5rem;
    color: white;
}

.movie:hover .home-icon-container:hover .home-icon,
.movie:hover .queue-icon-container:hover .queue-icon,
.movie:hover .watch-icon-container:hover .watch-icon,
.movie:hover .heart-icon-container:hover .heart-icon {
    transform: scale(1.2);
}

.home-icon.recommended,
.queue-icon.queued,
.watch-icon.watched,
.heart-icon.favorited {
    color: #FFCB9A;
}

.home-icon-container:active .home-icon,
.queue-icon-container:active .queue-icon,
.watch-icon-container:active .watch-icon,
.heart-icon-container:active .heart-icon {
    color: #FFCB9A;
}


/* RESPONSIVE */

@media screen and (max-width: 768px) {
    
    .about-container .icon-container {
        right: 0px;
    }

       
}